*{
    background-color: green;
}
/* body{
    background-image: url("https://image.shutterstock.com/image-photo/wooden-calendar-january-31st-cup-600w-1233204301.jpg");
    background-repeat: repeat-y;
} 
 .p{
    background-color: darkgoldenrod;
    border: 5px yellow solid;
    color: #ffe8d6;
}
#css-color{
    color: #121306;
    background-color: black; 
    font-style: italic;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    text-decoration:underline;
    text-transform: capitalize;
    word-spacing: 20px;
    letter-spacing: 20px;
    line-height: 20px;
    
} 
#headingtag{
    text-align:start;
}
div{
    border:1px black solid ;
}

#paragraph{
    background-color: aqua;
    border: 10px;
}
*/
#header{
    text-align: center;
}
/* (top,right,bottom,left */
/* .div1{
    pass
    /* width: 400px; */
    /* height: 300px; */
    /* border: 1px gray solid;
    padding: 2px 1px 2px 1px;
    font-size: 12px; */
    /* margin: 0px 0px 0px 100px; */
    /* margin-left: 100px; */
    /* border-radius: 50%; */
}
/* .circle,.circle1, #circle2{
    border: solid;
    border-radius: 50%;
    border-color: rgb(54, 163, 206);
    border-bottom-left-radius: 30px;
    width: 10px;
    height: 10px;
} */
.circle #cir h1{
    background-color: blue;

}
.psuedo-class a{
    text-decoration: none;

}
.psuedo-class a:hover{
    color: aqua;
    font-size: 20px;
    background-color: green;

}
.psuedo-class a:visited{
    color: red;
}

#form #name:focus{
    color: aliceblue;
    /* background-color: green; */
    font-size: 20px;
}
.block{
    background-color: aqua;
    border: 1px solid black;
    
}
.block .block1{
    background-color: gray;
    padding: 20px;

}
div{
    display: inline;
}
ul{
    list-style-type: none;
    
}
li{
    display: none;
    background-color: rgb(18, 44, 67);
    padding: 30px 30px;
}
/* #new-id::first-line{
    background-color: green;

} */
/* p::first-letter{
    text-transform: capitalize;
    background-color: yellow;
    font-size: xx-large;
} */
p::grammar-error{
    background-color: yellow;
    text-decoration: underline;
}
p::spelling-error{
    background-color: yellow;
}